.about_section-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.about_section-pair {
  width: 100%;
}

.section_description {
  font-size: 16px;
  line-height: 1.6;
}

.about_section-pair p i {
  color: #ffd700;
  font-size: 1.1rem;
}

@media only screen and (max-width: 992px) {
  .about_section-content h2 {
    font-size: 1.5rem;
  }

  .about_section-item {
    column-gap: 3rem;
  }

  .about_section-item p {
    font-size: 0.6rem;
    margin-bottom: 0;
  }

  .section_description i {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .about_img {
    margin-top: 30px;
  }

  .section_subtitle {
    margin-top: -30px;
  }
}
