.blog_publisher span i {
  color: #ffd700;
}

.blockquote {
  line-height: 35px;
}

.single_comment img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #4b0082;
  object-fit: cover;
}

.reply i {
  color: #ffd700;
}

.reply {
  color: #4b0082;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}

.leave_comment-form input,
.leave_comment-form textarea {
  border: 1px solid rgba(0, 12, 107, 0.118);
}

.leave_comment-form textarea:focus {
  outline: none;
}

.comment_btn {
  background: #4b0082 !important;
  color: #fff !important;
}

.recent_blog-item h6 a {
  text-decoration: none;
  color: #4b0082;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .recent_posts {
    margin-top: 30px;
  }

  .leave_comment-form input,
  .leave_comment-form textarea {
    font-size: 0.7rem;
  }

  .comment_btn {
    padding: 5px 10px !important;
    font-size: 0.8rem !important;
    margin-top: 0px !important;
    margin-bottom: 30px;
  }

  .leave_comment-form h4 {
    font-size: 1.2rem;
  }

  .single_comment img {
    width: 40px;
    height: 40px;
  }

  .comment_content p {
    font-style: 0.8rem;
    line-height: 1.4rem;
  }

  .blog_details p {
    font-style: 0.8rem;
    line-height: 1.4rem;
  }
}
