.car_item {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
}

.car_item h6 {
  display: inline-block;
  font-size: 1rem;
  margin-top: 10px;
  width: 50%;
  margin-left: 80px;
  margin-right: -55px;
}

.car_item-info span i {
  color: #ffd700;
  font-size: 1.1rem;
}

.car_item-btn {
  border-radius: 0;
  border: none;
  outline: none;
  background: #4b0082;
  padding: 8px 0px;
}

.car_item-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.car_item-btn a:hover {
  color: #fff;
}

.car_btn-details {
  background: #ffd700;
  border-radius: 0px 4px 4px 0px;
}

.car_item-rent {
  border-radius: 4px 0px 0px 0px;
}

.car_btn-content h4 {
  font-size: 1.8rem;
}

.car_btn-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

.car_item-height {
  height: 100%;
}

@media only screen and (max-width: 992px) {
  .car_item {
    min-height: 400px;
  }

  .car_item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .car_item h6 {
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    width: 50%;
    margin-right: -30px;
    margin-left: 50px;
  }

  .car_item span {
    font-size: 0.8rem;
  }

  .car_item-info {
    flex-wrap: wrap;
  }

  .car_item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .car_item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .car_item {
    min-height: 300px;
  }

  .car_item h4 {
    font-size: 1rem;
  }

  .car_item h6 {
    font-size: 0.9rem;
    margin-right: -15px;
    margin-left: 35px;
  }

  .car_item-info span {
    font-size: 0.7rem;
  }

  .car_item-info span i {
    font-size: 0.8rem;
  }

  .car_item-btn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576px) {
  .car_item {
    min-height: 300px;
  }

  .section_title {
    margin-top: 30px;
  }
}
